.wrapper {
	overflow: hidden;
	min-height: 100%;
	padding: 0 10px;
	box-sizing: content-box;
}

header {
	height: 52px;
	max-width: 1296px;
	margin: 0 auto;
	background: linear-gradient(#ccc, #f2f2f2);
	border: 1px solid #ccc;
	margin-bottom: 35px;
}

h2 {
	font-size: 34px;
	margin: 9px 20px;
	color: #1c1c1c;
}

.main {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

@media (width < 1015px) {
	.main {
		display: block;
		margin: 0 auto;
	}
}